.control-panel{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid darkgray;
  .control-panel__wrapper{
    display: flex;
    .control-panel__inner{
      margin-right: 20px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}


