.control-panel{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid darkgray;
  .control-panel__select{
    min-width: 250px;
  }
  .control-panel__wrapper{
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    .control-panel__inner{
      margin-right: 20px;
      .control-panel__add-task{
        box-shadow: 2px 2px 4px 1px #73d7aa;
        &:hover{
          box-shadow: none;
        }
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

.top {
  #options{
    bottom: 50px;
  }
}




