*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  height: 100vh;
}


html {
  min-height: 100%;
}

//::-webkit-scrollbar{
//  width: 5px;
//}
//::-webkit-scrollbar-track {
//  background: $white;
//}
//::-webkit-scrollbar-thumb{
//  background: $lightGray;
//  border-radius: 8px;
//}
//::-webkit-scrollbar-thumb:hover{
//  background: $darkGray;
//}

#app {
  height: 100%;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

li, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

main {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.main-wrapper {
  flex: 1 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

svg {

}

.button{
  background: none;
  padding: 10px;
  cursor: pointer;
  transition: all .3s;
  outline: none;
  border: 1px solid darkgray;
  font-size: 12px;
  &:hover{
    background: #73d7aa;
    color: white;
    border-color: #73d7aa;
    border-radius: 50px;
  }
}

.input{
  padding: 10px;
  border: 1px solid darkgray;
  transition: all .3s;
  outline: none;
  &:focus{
    border-color: #73d7aa;
    border-radius: 50px;
  }
}

.background{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0,0,0, .5);
  animation: 1s appearance;
}
.error-message{
  color: red;
  border-color: red;
  &:focus{
    color: black;
    border-color: red;
  }
}