*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  height: 100vh;
}


html {
  min-height: 100%;
}

//::-webkit-scrollbar{
//  width: 5px;
//}
//::-webkit-scrollbar-track {
//  background: $white;
//}
//::-webkit-scrollbar-thumb{
//  background: $lightGray;
//  border-radius: 8px;
//}
//::-webkit-scrollbar-thumb:hover{
//  background: $darkGray;
//}

#app {
  height: 100%;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

li, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

main {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.main-wrapper {
  flex: 1 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  font-size: 22px;
}

span, label {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

label {

}

.button {
  font-size: 18px;
  background: white;
  padding: 15px;
  min-width: 140px;
  cursor: pointer;
  border-radius: 50px;
  transition: all .3s;
  outline: none;
  border: 1px solid darkgray;

  &:hover {
    background: #73d7aa;
    color: white;
    border-color: #73d7aa;
  }
}

.input {
  padding: 15px;
  border: 1px solid darkgray;
  transition: all .3s;
  outline: none;
  font-size: 18px;
  border-radius: 50px;

  &:focus {
    border-color: #73d7aa;
  }
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .5);
  animation: 1s appearance;
}

.error-message {
  color: red;
  border-color: red;

  &:focus {
    color: black;
    border-color: red;
  }
}

.icon {
  max-width: 32px;
  transition: all .3s;
}

.exit, .remove {
  border-color: darkgray;
  transition: all .3s;

  &:hover {
    border-color: red;
    background: red;
  }
}

.list-item {
  display: inline-block;
  margin-right: 10px;
}

.list-enter-active,
.list-leave-active {
  transition: all 1s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.loader {
  position: absolute;
  z-index: 111;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.--black {
  color: black;
  background: black;
}


.drag-area__loader {
  position: absolute;
  z-index: 12;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  .drag-area__button {
    margin-top: 140px;
  }

  .loader {
    &:after {
      border: 6px solid #73d7aa;
      border-color: #73d7aa transparent #73d7aa transparent;
    }
  }
}

.top {
  #options{
    bottom: 46px;
  }
}

.select {
  position: relative;

  .select__title {
    user-select: none;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border: 1px solid darkgray;
  }

  .options {
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 11111;
    text-align: center;
    border: 1px solid darkgray;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .options__item {
      cursor: pointer;
      padding: 10px;
      transition: all .3s;

      &:hover {
        color: white;
        background: #73d7aa;
      }
    }
  }
}