
.modal {
  animation: 1s appearance;
  text-align: center;
  background: white;
  max-width: 600px;
  width: 100%;
  height: 100%;
  max-height: 550px;
  padding: 20px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
  transition: all .3s;

  .modal__header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .modal__close {
      cursor: pointer;
    }
  }


  .modal__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .form__error {
      margin-bottom: 10px;
    }

    .form__input {
      margin-bottom: 20px;
    }
  }


  .modal__wrapper {
    height: 100%;

    .modal__inner {
      height: 100%;
      max-height: 250px;
      margin-bottom: 30px;
    }

    .modal__drag {
      position: relative;
      width: 100%;
      height: 100%;
      border: 1px dashed darkgray;

      .drag-area-info {
        user-select: none;
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.drag {
  .drag-area {
    border-color: #73d7aa !important;
    background: #d2fcdb;

  }
}

.img-wrapper {
  position: relative;
  z-index: 3;
  transition: all .3s;

  &:after {
    content: '';
    transition: all .3s;
    opacity: 0;
  }

  &:hover {
    .img-wrapper__inner {
      opacity: 1;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: darkgray;
      opacity: .7;
      z-index: 2;
    }
  }

  .input-wrapper {

    button{
      border-color: white;
    }

    label {
      cursor: pointer;
      border: 1px solid white;
      transition: all .3s;
      line-height: 2;
      padding: 10px;
      font-size: 12px;
      cursor: pointer;
      margin-right: 20px;
      &:hover {
        border-radius: 50px;
        border-color: #73d7aa;
        background: #73d7aa;
        color: white;
      }

    }

    input {
      display: none;
    }


  }

  .img-wrapper__img {
    height: 100%;
  }

  .img-wrapper__inner {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 4;
    transition: all .3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

    .img-wrapper__inner__button {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.video-wrapper,.audio-wrapper{
  video,audio{
    height: 200px;
    width: 100%;
    max-width: 375px;
  }
}