.panel {
  margin-bottom: 50px;
  .panel-todo__title,.panel-done__title {
    margin-bottom: 20px;
  }

  .panel__no-task{
    margin-bottom: 50px;
  }
  .done{
    margin-bottom: 0;
  }
  .todo{
    display: flex;
    align-items: center;
    p{
      margin-right: 20px;
    }
    img{
      max-width: 70px;
    }
  }

  .panel__inner {
    padding-top: 20px;
    border-top: 1px solid darkgray;

    .panel__item {
      cursor: grab;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid darkgray;
      padding: 0 0 30px 0;
      margin-bottom: 20px;

      .item__panel-task{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        a{
          margin-right: 20px;
        }
      }

      .info-wrapper__inner{
        margin-bottom: 20px;
        word-break: break-word;
        max-width: 500px;
      }

      .info-wrapper__text{
        margin-bottom: 10px;
        svg{
          max-width: 70px;
        }
      }

      .info-wrapper__img{
        position: relative;
      }


      .item__info {

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }

      .info-wrapper__img,.info-wrapper__video,.info-wrapper__audio {
        max-width: 300px;
        margin-bottom: 20px;
      }
      .info-wrapper__video{
        video{
          max-width: 250px;
          max-height: 200px;
          height: 100%;
          width: 100%;
        }
      }

      &:last-child {
        margin-bottom: 50px;
      }

      .item__done {
        margin-right: 20px;
      }
    }
  }
}

.done{
  .panel__inner{
    opacity: .5;
  }
}

.section__inner{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}