.panel {
  margin-bottom: 50px;
  .panel-todo__title,.panel-done__title {
    margin-bottom: 20px;
  }

  .panel__no-task{
    margin-bottom: 50px;
  }
  .done{
    margin-bottom: 0;
  }
  .todo{
    display: flex;
    align-items: center;
    p{
      margin-right: 20px;
    }
    img{
      max-width: 70px;
    }
  }

  .panel__inner {
    padding-top: 20px;
    border-top: 1px solid darkgray;

    .panel__item {
      cursor: grab;
      display: flex;
      flex-direction: column;
      border: 1px solid darkgray;
      padding: 25px;
      border-radius: 50px;
      margin-bottom: 50px;
      box-shadow:  -1px 0px 0px 0px #1F87FF, 2px 5px 16px 0px #0B325E, 2px 6px 5px 3px rgba(124,163,215,0);

      .item__header{
        display: flex;
        color: darkgray;
        margin-bottom: 10px;
        p{
          font-size: 12px;
          margin-right: 50px;
          &:last-child{
            margin-right: 0;
          }
        }
      }

      .item__panel-task{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        a{
          margin-right: 20px;
        }
      }

      .info-wrapper__inner{
        word-break: break-word;
        max-width: 500px;
      }

      .info-wrapper__text{
        margin-bottom: 10px;
        svg{
          max-width: 70px;
        }
      }

      .info-wrapper__img{
        position: relative;
      }


      .item__info {
        margin-bottom: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }

      .info-wrapper__img,.info-wrapper__video,.info-wrapper__audio {
        max-width: 300px;
        user-select: none;
        pointer-events: none;
      }
      .info-wrapper__video{
        video{
          max-width: 250px;
          max-height: 200px;
          height: 100%;
          width: 100%;
        }
      }

      &:last-child {
        margin-bottom: 50px;
      }

      .item__done {
        margin-right: 20px;
        box-shadow: 2px 2px 4px 1px #73d7aa;
        &:hover{
          box-shadow: none;
        }
      }
    }
  }
}

.done{
  .panel__inner{
    opacity: .5;
  }
}

.section__inner{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}